*, *::before, *::after{
  box-sizing: border-box;
}

body {
  font: 1.6rem/1.15 var(--font-family);
}

a{
  color: inherit;
  text-decoration: none;
}

a img {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}


:root{
  --offer-section-width:1022px;
  --offer-section-height:542px;
  --sub-title-font-size:24px;
  --discount-font-size:16px;
  --discount-font-weight:600;
  --description-font-size:14px;
  --description-line-height:17px;
  --description-font-weight:400;
  --free-delivery-font-size:14px;
  --free-delivery-line-height:17px;
  --free-delivery-color:#767676;
  --score-font-size:14px;
  --score-color:#767676;
  --score-line-height:17px;
  --score-font-weight:400;
}